#main_div {
    margin-top: 36px;
    padding: 0px;
}

.left-sidebar {
    width: 20%;
    height: 100%;
    padding: 25px;
    background-color: #404040;
    position: absolute;
    overflow-y: scroll;
}

.home-heading {
    background-color: #315372;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.game-code {
    color: #C7ED85;
    border-bottom: 2px black;
    padding-bottom: 5px;
}

.join-here {
    background-color: #315372;
    border: none;
    color: white;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
    transition-duration: 0.4s;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer
}

.friends {
    margin: 0;
    padding: 7px;
    background-color: #454545;
    width: 80%;
    height: 100%; 
    float: right;
    text-align: center;  
}

.friends_title {
    font-weight: 700
}

.individual {
    padding-top: 5px;
    margin-top: 5px;
    padding-left: 3px;
    padding-bottom: 5px;
    padding-right: 3px;
    background-color: #787878;
    text-align: center;
    
}
.pfp_home {
    height: 100%;
    width: 30%;
}
.description_home {
    height: 100%;
    width: 70%;
}