.nav-text {
    color: lightslategray
}

.box {
    float: left;
    height: 33px;
    width: 33px;
    margin-bottom: 0px;
    border: 1px solid black;
    border-radius: 5px;
    clear: both;
}

.white {
    background-color: #FFFFFF;
}
  
.red {
    background-color: #FF0000;
}

.neon-orange {
    background-color: #FF4400;
}

.orange {
    background-color: #FF8000;
}

.mustard-yellow {
    background-color: #FFBF00;
}

.yellow {
    background-color: #FFFF00;
}

.lime-green {
    background-color: #80FF00;
}

.neon-green {
    background-color: #00FF40;
}

.aquamarine {
    background-color: #00FFBF;
}

.blue {
    background-color: #0080FF;
}

.dark-blue {
    background-color: #0000FF;
}

.purple {
    background-color: #8000FF;
}

.pink  {
    background-color: #FF00FF;
}

.salmon {
    background-color: #FF0080;
}