<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css" />
    <title>{% block title %}Map Game{% endblock %}</title>
</head>
<body>
    <ul class="navbar">
      {% if user.is_authenticated %}
      <li><a class="nav-item nav-link" id="home" href="/">Home</a></li>
      <li><a class="nav-item nav-link" id="friends" href="/user/friends">Friends</a></li>
      <li><a class="nav-item nav-link" id="deceit" href="/deceit">Deceit</a></li>
      <li><a class="nav-item nav-link" id="docs" href="/docs/">Documentation</a></li>
      <li><a class="nav-item nav-link" id="join_game" href="/join-game">Join Game</a></li>
      <li><a class="nav-item nav-link" id="create_game" href="/create-game">Create Game</a></li>
      <li><a class="nav-item nav-link" id="logout" href="/logout">Logout</a></li>
      <li><a class="nav-user nav-link" id="user_link" href="{{url_for('profiles.profile', user_id=user.id)}}">{{ user.username }}</a></li>
      {% else %}
      <li><a class="nav-item nav-link" id="login" href="/login">Login</a></li>
      <li><a class="nav-item nav-link" id="signUp" href="/sign-up">Sign Up</a></li>
      {% endif %}
    </ul>

    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
        {% if category == 'error' %}
        <div class="alert alert-warning">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
        {% elif category == 'success' %}
        <div class="alert alert-success">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
        {% else %}
        <div class="alert alert-neutral">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          {{ message }}
        </div>
        {% endif %}
        {% endfor %}
    {% endif %}
    {% endwith %}
    <div id="main_div">
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <!--<script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.7.3/socket.io.min.js"></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
</body>
</html>