{% extends "base.html" %} {% block title %}Map{% endblock %}
{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/map.css" />
</head>
<br/>
<br/>
<br/>
<h2>Infantry Production:</h2>
<p>{{infantry}} units/day</p>
<h2>Tank Production:</h2>
<p>{{tanks}} units/day</p>
<h2>Transport Production:</h2>
<p>{{transport}} units/day</p>
<h2>Submarine Production:</h2>
<p>{{sub}} units/day</p>
<h2>Destroyer Production:</h2>
<p>{{destroyer}} units/day</p>
<h2>Fighter Production:</h2>
<p>{{fighter}} units/day</p>
<h2>Bomber Production:</h2>
<p>{{bomber}} units/day</p>
<div style="width: 100%;
            height: 10%;
            margin: 0;
            border: 2px solid;
            padding: 25px;
            background-color: #404040;
            border: none;
            overflow: hidden;
            ">
    
    <h4><a class="link" href="{{url_for('rooms.diplomacy', game_id=game_id)}}">Diplomacy</a></h4>
    {% for territory in territory_list %}
        <div class="overlay">{{territory.name}}</div>
    {% endfor %}
</div>
<h3>Total Infantry: {{current_empire.total_inf}}</h3>
<div id="containers" style="overflow: hidden;">
    {% for territory in territory_list %}
        <h2>{{territory.name}}</h2>
        <div class="box" style= "background-color: {{territory.color}}; display: inline-block; width: 100px; height: 100px;">

        </div>
        <p>Population: {{territory.pop}} Area: {{territory.area}} GDP: {{territory.gdp}}</p>
    {% endfor %}
</div>
<script type="text/javascript" src="/static/map.js"></script>
{% endblock %}