{% extends "base.html" %} {% block title %}{{player.username}}'s Profile{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/profile.css" />
</head>
<br/>
<h1 id="heading">{{player.username}}'s Profile</h1>
<br/>
<div class="pfp" style="background-image: url({{player.pfp}});">
    <!--<img src="{{player.pfp}}">-->
</div>
<h3>Stats:</h3>
<ul>
    <li><h5>Games Joined: {{ games_joined }}</h5></li>
    <li><h5>Wars Fought: {{ stats.total_war }}</h5></li>
    <li><h5>Alliances Made: {{ stats.total_ally }}</h5></li>
    <li><h5>Alliances Betrayed: {{ stats.total_betray }}</h5></li>
</ul>
<br/>
{% if not is_current %}
    {% if not is_friends %}
        <form method="POST">
            <input type="hidden" name="Add Friend" value="Add Friend">
            <button class="button-main" id = "Add Friend" type="submit" value="Add Friend">Add Friend</button>
        </form>
    {% endif %}
    {% if is_friends %}
        <form method="POST">
            <input type="hidden" name="Remove Friend" value="Remove Friend">
            <button class="button-main" id = "Remove Friend" type="submit" value="Remove Friend">Remove Friend</button>
        </form>
    {% endif %}
{% else %}
    <form enctype="multipart/form-data" method="POST">
        <input type="hidden" name="upload_pfp" value="upload_pfp">
        <input type="file" id="pfp" name="pfp" accept="image/*" hidden/>
        <label class="button-main" for="pfp">Upload Image</label>
        <span id="file-chosen">No file chosen</span>
        <input class="button-main" type="submit">
    </form>
{% endif %}
<script type="text/javascript" src="/static/profile.js"></script>
{% endblock %}