{% extends "base.html" %} {% block title %}{{ game.game_name }}{% endblock %}

{% block content %}
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/room.css" />
</head>
<body class="map">
<div class="lobby">
<br/>
<h1 align="center"> {{ game.game_name }} </h1>
<br/>
<div>
{% for player in players %}
    {% set empire_name = "No Empire Name" %}
    {% for key, value in empire_key.items() %}
        {% if key|string() == player[0].id|string() %}
            {% set empire_name = value %} 
            <div><div class="box {{used_colors[loop.index0]}}"></div><h3 class = "empire">{{empire_name}} <a class = "empire link" href="{{player[1]}}">({{ player[0].username }})</a></h3></div>    
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<hr>
<div>
<form enctype="multipart/form-data" style="display: inline;" method="POST">
        <label for="empire">Empire Name: </label>
        {% if current_empire == none %}
            <input type="text" id="empire" name="empire" placeholder="Enter empire name"/>
        {% else %}
            <input class="form txt-white" type="text" value = "{{current_empire.name}}" id="empire" name="empire" placeholder="Enter empire name"/>
        {% endif %}
        <label for="color_input">Color: </label>
        <select class="selection" id="color_input" name="color_input" aria-placeholder="Pick a color">
            {% for color in avail_colors %}
                <option class="opt" selected="{{current_color}}" value = "{{color[1]}}">{{color[1]}}</option>
            {% endfor %}
        </select>
        <label for="gov">Government: </label>
        <select class="selection" id="gov" name="gov" aria-placeholder="Pick a government">
            {% for gov in govs %}
                {% if gov[0] == current_gov %}
                    <option class="opt" selected value="{{gov[0]}}">{{gov[0]}}</option>
                {% else %}
                    <option class="opt" value="{{gov[0]}}">{{gov[0]}}</option>
                {% endif %}
            {% endfor %}
        </select>
        <br/>
        <br/>
        <select class="selection" id="flag2" name="flag2">
            {% if current_empire.flag != none %}
            <option class="opt" selected value="{{current_empire.flag}}">Keep Current Flag</option>
            {% endif %}
            {% for flag in avail_flags %}
            <option class="opt" value="{{flag[1]}}">{{flag[0]}}</option>
            {% endfor %}
        </select>
        <input type="hidden" name="upload_flag" value="upload_flag">
        <input type="file" id="flag" name="flag" accept="image/*" hidden/>
        <label class="button-main" for="flag">Upload a flag or choose one.</label>
        <span id="file-chosen">No file chosen</span>
        <input type="hidden" id="update_empire" name="update_empire" value="update_empire">
        <br/>
        
        <h4>Current Government: {{current_gov}}</h4>
        <button class="button-main" type="submit">Set</button>
    </form>
    {% if is_host %}
        <form style="display:inline" method="POST">
            <input type="hidden" id="start_game" name="start_game" value="start_game">
            <button class="button-main" type="sumbit" id="start_game" value="start_game">Start Game</button>
        </form>
    {% endif %}
    <div class="flag-icon" style="background-image: url({{current_empire.flag}}); background-size: 75px 50px;"></div>
</div>
</div>
</body>
<script type="text/javascript" src="/static/rooms.js"></script>
{% endblock %}