{% extends "base.html" %} {% block title %}Diplomacy with {{ target_empire.name }} {% endblock %}

{% block content %}
<br/> 
<h1>Diplomacy with {{target_empire.name}}</h1>

{% if current_user.id != target_empire.user %}
    {% if at_war %}
        <h4>You are at war.</h4>
        <form method="POST">
            <input type="hidden" id="make_peace" name="make_peace" value="make_peace">
            <button type="submit">Make Peace</button>
        </form>

    {% elif allied %}
        <h4>You are allied.</h4>
        <form method="POST">
            <input type="hidden" id="betray" name="betray" value="betray">
            <button type="submit">Betray</button>
        </form>

    {% else %}
        <form method="POST">
            <input type="hidden" id="declare_war" name="declare_war" value="declare_war">
            <button type="submit">Declare War</button>
        </form>
        <form method="POST">
            <input type="hidden" id="ally" name="ally" value="ally">
            <button type="submit">Send Alliance Request</button>
        </form>
    {% endif %}

    {% if is_puppet %}
        <h4>This is your puppet.</h4>

    {% elif is_controller %}
        <h4>This is your master.</h4>
    {% endif %}
{% else %}
    <h3>This is yourself...</h3>
{% endif %}

{% endblock %}