{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br/>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/home.css" />
</head>
<body style="overflow:hidden">
    <div class="left-sidebar">
    {% if games_joined != [] %}
    {% set counter = 0 %}
    <div id="game_list">
        <h1 style="text-align: center;">Joined Games</h1>
    {% for game in games_joined %}
        {% set counter = counter+1 %}
        <h2 class="home-heading"><a class="game-link" id="game_headings{{counter}}" href={{game[1]}}>Game: {{ game[0].game_name }}</a></h2> <h4 class="game-code">Code: {{ game[0].code }}</h4> <br/>
    <hr>
    {% endfor %}
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    </div>
    
    {% else %}
        <h1>No games joined currently. Join one <a class="join-here">here</a></h1>
    {% endif %}
    <script type="text/javascript" src="/static/home.js"></script>
    </div>
    <article class="friends">
        <h1 class="friends_title"><a class = "game-link" href="{{url_for('profiles.friends')}}">Friends</a></h1>
        {% for friend in friends %}
            <article class="individual">
                <div class="box" style="background-image:url({{friend.pfp}})"></div>
                <p style="display:inline-block">
                    <a class="game-link" style="display:inline-block" href="{{url_for('profiles.profile', user_id=friend.id)}}">{{friend.username}}</a>
                </p>
            </article>
        {% else %}
            <article class="individual">
                <p>You have no friends.</p>
            </article>
        {% endfor %}
    </article>
</body>
{% endblock %}