{% extends "base.html" %} {% block title %}{{user.username}}'s Profile{% endblock %}

{% block content %}
<br/>
<h1 id="heading">{{user.username}}'s Profile</h1>
<br/>
<h3>Stats:</h3>
<ul>
    <li><h5>Games Joined: {{ games_joined }}</h5></li>
</ul>
<br/>
{% if not is_current %}
    {% if not is_friends %}
        <form method="POST">
            <input type="hidden" name="Add Friend" value="Add Friend">
            <button id = "Add Friend" type="submit" value="Add Friend">Add Friend</button>
        </form>
    {% endif %}
    {% if is_friends %}
        <form method="POST">
            <input type="hidden" name="Remove Friend" value="Remove Friend">
            <button id = "Remove Friend" type="submit" value="Remove Friend">Remove Friend</button>
        </form>
    {% endif %}
{% endif %}
<script type="text/javascript" src="/static/profile.js"></script>
{% endblock %}