{% extends "base.html" %} {% block title %}{{ game.game_name }}{% endblock %}

{% block content %}
<head>
    <script type="text/javascript" src="/static/rooms.js"></script>
</head>
<br/>
<h1 align="center"> {{ game.game_name }} </h1>
<br/>
<h2>Players:</h2>
<div>
{% for player in players %}
    {% set empire_name = "No Empire Name" %}
    {% for key, value in empire_key.items() %}
        {% if key|string() == player[0].id|string() %}
            {% set empire_name = value %} 
            <div><div class="box {{used_colors[loop.index0]}}"></div><h3>{{empire_name}} <a href="{{player[1]}}">({{ player[0].username }})</a></h3></div>    
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<hr>
<form method="POST">
    <div>
        <label for="empire">Empire Name</label>
        {% if current_empire == "None" %}
            <input type="text" id="empire" name="empire" placeholder="Enter empire name"/>
        {% else %}
            <input type="text" value = "{{current_empire.name}}" id="empire" name="empire" placeholder="Enter empire name"/>
        {% endif %}
        <label for="color_input">Color</label>
        <select id="color_input" name="color_input" aria-placeholder="Pick a color">
            {% for color in avail_colors %}
                <option value = "{{color[2]}}">{{color[1]}}</option>
            {% endfor %}
        </select>
    </div>
    <br/>
    <button type="submit">Set</button>
</form>
{% if is_host %}
    <a href="{{url_for('rooms.map', game_id=game_id)}}"><button id="start_game" onclick=>Start Game</button></a>
{% endif %}
{% endblock %}