{% extends "base.html" %} {% block title %}{{ game }}{% endblock %}

{% block content %}
<head>
    <script type="text/javascript" src="/static/rooms.js"></script>
</head>
<br/>
<h1 align="center"> {{ game }} </h1>
<br/>
<h2>Players:</h2>
<div>
{% for player in players %}
    {% set empire_name = "No Empire Name" %}
    {% for key, value in empire_key.items() %}
        {% if key|string() == player[0].id|string() %}
            {% set empire_name = value %}
            <h3>{{empire_name}} <a href="{{player[1]}}">({{ player[0].username }})</a></h3>
        {% endif %}
    {% endfor %}
     
{% endfor %}
</div>
<form method="POST">
    <div>
        <label for="empire">Empire Name</label>
        <input type="text" class="form-control" id="empire" name="empire" placeholder="Enter empire name"/>
        <label for="color_input">Color</label>
        <select id="color_input" name="color_input" aria-placeholder="Pick a color">
            {% for color in colors %}
                {% if color[1] not in used_colors %}
                    <option value = "{{color[1]}}">{{color[1]}}</option>
                {% endif %}
            {% endfor %}
        </select>
    </div>
    <br/>
    <button type="submit">Set</button>
</form>
{% if is_host %}
    <button id="start_game" onclick="startGame()">Start Game</button>
{% endif %}
{% endblock %}