{% extends "base.html" %} {% block title %}{{ game.game_name }}{% endblock %}

{% block content %}
<head>
    <script type="text/javascript" src="/static/rooms.js"></script>
</head>
<br/>
<h1 align="center"> {{ game.game_name }} </h1>
<br/>
<h2>Players:</h2>
<div>
{% for player in players %}
    {% set empire_name = "No Empire Name" %}
    {% for key, value in empire_key.items() %}
        {% if key|string() == player[0].id|string() %}
            {% set empire_name = value %} 
            <div><div class="box {{used_colors[loop.index0]}}"></div><h3>{{empire_name}} <a href="{{player[1]}}">({{ player[0].username }})</a></h3></div>    
        {% endif %}
    {% endfor %}
{% endfor %}
</div>
<hr>
<form method="POST">
    <div>
        <label for="empire">Empire Name: </label>
        {% if current_empire == "None" %}
            <input type="text" id="empire" name="empire" placeholder="Enter empire name"/>
        {% else %}
            <input type="text" value = "{{current_empire.name}}" id="empire" name="empire" placeholder="Enter empire name"/>
        {% endif %}
        <label for="color_input">Color: </label>
        <select id="color_input" name="color_input" aria-placeholder="Pick a color">
            {% for color in avail_colors %}
                <option selected="{{current_color}}" value = "{{color[2]}}">{{color[1]}}</option>
            {% endfor %}
        </select>
        <label for="gov">Government: </label>
        <select id="gov" name="gov" aria-placeholder="Pick a government">
            {% for gov in govs %}
                {% if gov[0] == current_gov %}
                    <option selected value="{{gov[0]}}">{{gov[0]}}</option>
                {% else %}
                    <option value="{{gov[0]}}">{{gov[0]}}</option>
                {% endif %}
            {% endfor %}

        </select>
        <input type="hidden" id="update_empire" name="update_empire" value="update_empire">
    </div>
    <br/>
    <h4>Current Government: {{current_gov}}</h4>
    <button type="submit">Set</button>
</form>

{% if is_host %}
    <form method="POST">
        <input type="hidden" id="startgame" name="start_game" value="start_game">
        <button type="sumbit" id="start_game" value="start_game">Start Game</button>
    </form>
{% endif %}
{% endblock %}